@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #1c1c1c;
  --yellow-color: #ffb800;
  --grey-color: #595959;
  --dark-color: #1c1c1c;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
main {
  align-items: center;
  display: flex;
  height: 700px;
  flex-direction: column;
  margin-top: 10%;
}

.title {
  color: var(--yellow-color);
  text-align: center;
  margin: 1rem 0;
}

.container__tasks {
  width: 100%;
  height: 3rem;
  margin-bottom: 5rem;
}

.input__tasks {
  border-radius: 0.2rem;
  border: none;
  padding: 0.7rem;
  margin: 6px 0 0 2.5rem;
  width: 70%;
}
.input__tasks:focus {
  outline: none; /* Remove a borda quando o elemento está em foco */
}

.btn__input {
  padding: 0.7rem;
  width: 3rem;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--yellow-color);
  color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}
.btn__input:hover {
  background-color: #d99b00;
  transition: 0.3s;
}

/* Tarefas  */
.container__task__list {
  margin: 1rem;
}

.task_list {
  display: grid; /* grid */
  grid-template-columns: repeat(1, 300px);
  gap: 10px;
}

.task_list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--yellow-color);
  height: 100px;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.task_list li:hover {
  background-color: #d99b00;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.task_list li input {
  position: relative;
  top: -10px;
  right: 3px;
  font-weight: 800;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.task_list li span {
  position: relative;
  left: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}

.task_list li button {
  position: relative;
  bottom: 55px;
  left: 260px;
  font-weight: 800;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  background-color: var(--grey-color);
  color: var(--white-color);
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.task_list li button:hover {
  background-color: rgb(175, 2, 2);
  transition: 0.5s;
}

/* erros */
.container__dialog {
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 8rem;
  border: none;
  border-radius: 0.2rem;
  margin: 15rem auto;
}
.div__dialog {
  width: 80%;
  text-align: justify;
  margin: 0 auto;
}

.div__dialog p {
  position: relative;
  top: 15px;
  font-size: 13px;
  color: var(--dark-color);
}

.btn__dialog {
  position: relative;
  left: 211px;
  bottom: 70px;

  border: none;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--grey-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.5s;
}

.btn__dialog:hover {
  background-color: rgb(175, 2, 2);
  transition: 0.5s;
}

::backdrop {
  background: #1c1c1c95;
}

/* display 550 px no mínimo */
@media screen and (min-width: 550px) {
  .title {
    font-size: 3rem;
  }

  .input__tasks {
    margin: 6px 0 0 3.5rem;
  }
  .container__tasks {
    margin-bottom: 3rem;
  }

  .task_list {
    display: grid; /* grid */
    grid-template-columns: repeat(2, 215px);
    gap: 10px;
  }
  .task_list li button {
    position: relative;
    bottom: 57px;
    left: 180px;
  }

  .container__dialog {
    margin: 20rem auto;
  }
  .div__dialog p {
    left: 30px;
  }
  .btn__dialog {
    left: 351px;
    bottom: 60px;
  }
}
